<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emp1" class="com.secondsession.beans.Employee">
        <property name="empId" value="1"/>
        <property name="empName" value="Sanyam Kapoor"/>
        <property name="empEmail" value="sanyam.kapoor@codeoptimalsolutions.com"/>
        <property name="empCode" value="276"/>
        <property name="empSal" value="25000"/>
    </bean>

    <bean id="emp2" class="com.secondsession.beans.Employee">
        <property name="empId" value="2"/>
        <property name="empName" value="Employee 2"/>
        <property name="empEmail" value="employee2@codeoptimalsolutions.com"/>
        <property name="empCode" value="277"/>
        <property name="empSal" value="15500"/>
    </bean>

</beans>